* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

body {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./imgs/body-pattern.gif");
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url("./imgs/body-pattern.gif");
  text-transform: capitalize;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat";
}

p,
li,
button {
  font-family: "Roboto";
}

p {
  color: white;
  letter-spacing: 1px;
  line-height: 1.6;
}

main {
  width: 90%;
  max-width: 1300px;
  margin: 1rem auto;
}

main > * {
  margin-bottom: 10rem;
}

.section-title {
  color: #ff005c;
  margin-bottom: 2rem;
  text-align: center;
}

.underline {
  text-decoration: underline;
  -webkit-text-decoration-color: #ff005c;
          text-decoration-color: #ff005c;
  text-decoration-thickness: 4px;
  text-underline-offset: 4px;
  cursor: pointer;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: block;
  height: 60px;
  width: 60px;
}

.desktop-menu {
  display: none;
}

header {
  text-align: center;
  color: white;
}

.header-text h3 {
  font-size: 1rem;
}

.header-text > * {
  margin-bottom: 1rem;
}

h1 span {
  color: #ff005c;
}

.header-text__title i {
  color: #ff005c;
  margin: 0 3px;
}

.social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5rem;
  gap: 0.5rem;
  color: #ff005c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.header-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.about-me {
  text-align: center;
}

.about-me article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 2rem;
}

.about-me__img {
  width: 40%;
  margin: auto;
  padding-bottom: 10px;
  border-bottom: 4px solid #ff005c;
}

.about-me__img img {
  display: block;
  border-radius: 50%;
  width: 100%;
}

.skills-items {
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  -ms-grid-columns: (minmax(50px, 100px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.skill {
  text-align: center;
  color: white;
}

.skill img {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.projects-items {
  display: -ms-grid;
  display: grid;
  gap: 4rem 1.5rem;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project {
  color: white;
}

.project h3 {
  margin-bottom: 1.5rem;
}

.project img {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
  -webkit-box-shadow: 5px 5px #ff005c;
          box-shadow: 5px 5px #ff005c;
}

.git-link {
  cursor: pointer;
  font-size: 1rem;
  background: #ff005c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0rem;
}

.tags li {
  border: 2px solid #ff005c;
  padding: 0.5rem;
  border-radius: 20px;
}

footer {
  background-color: #ff005c;
  color: white;
  text-align: center;
  padding: 1rem;
}

.dropDown-menu {
  position: fixed;
  background-color: #ff005c;
  inset: 0;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.close-menu {
  display: block;
  margin-left: auto;
}

.mobile-menu {
  margin-top: 3rem;
}

.mobile-menu li {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 900px) {
  :root {
    font-size: 18px;
  }
  .section-title {
    text-align: left;
    font: 1.5rem;
  }
  .desktop-menu {
    color: white;
    width: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .desktop-menu li a {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .desktop-menu li a:hover {
    color: #ff005c;
  }
  .menu {
    display: none;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .header-text h1 {
    font-size: 3rem;
  }
  .header-text__title {
    font-size: 2rem;
  }
  .social-media-links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .about-me {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me__text {
    text-align: left;
    font-size: 1.4rem;
  }
  .about-me__img {
    width: 70%;
  }
  .about-me__img img {
    border-radius: 50% 0px;
  }
  .project img {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .project img:hover {
    -webkit-transform: translate(-8px, -8px);
            transform: translate(-8px, -8px);
    -webkit-box-shadow: 8px 8px #ff005c;
            box-shadow: 8px 8px #ff005c;
  }
}

.hidden {
  display: none;
}
